body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #8888882f;
}

/* Header Styles */
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem 0;
}

header .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #1a237e;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #3f51b5;
}


/* Main Styles */
main {
    margin-top: 80px;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form .form-group {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"], 
form input[type="date"]
{
    width: 96%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}


.form-group textarea {
    height: 80px;
    width: 99%;
}

form select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

form button[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    background-color: #cc251cd5;
    color: #fff;
    border: none;
    padding: 10px 80px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

form button[type="submit"]:hover {
    background-color: #991c15d8;
}

/* Footer Styles */
footer {
    margin-top: 80px;
    background-color: #333;
    color: #fff;
    padding: 0.4rem 0;
    text-align: center;
}

footer .container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

footer nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 10px;
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }

    footer .container {
        flex-direction: column;
    }

    footer .social-links {
        margin-top: 12px;
    }
}